.toasts {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    padding: 0 10px;
    text-align: center;
    pointer-events: none;

    .toast {
        background-color: $infoColor;
        margin-bottom: 5px;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 5px auto;
        padding: 10px 15px;
        color: #fff;
        font-size: .9em;
        line-height: 15px;
        cursor: default;
        pointer-events: all;
        text-align: left;

        .title {
            font-size: .8em;
            font-weight: 400;
            margin-bottom: 5px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &.success {
            background-color: $successColor;
        }

        &.error {
            background-color: $errorColor;
        }

        p {
            margin: 0 0 15px 0;
            padding: 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}